.centter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#freeJointPromo {
    font-size: 2em;
    font-family: 'Road Rage', cursive;
}

.glow {
    text-shadow: 5px 5px rgba(255, 255, 255,);
}

.googleReviews {
    font-size: 2em;
    padding: 30px;
}

#gummyPromo {
    font-size: 2em;
    font-family: 'Road Rage', cursive;
}

.home {
    color: rgb(208, 238, 234);
    background-color: rgb(15, 15, 15);
    height: 100vh;
}

.promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    box-shadow: 12px 12px 48px 0px rgba(202, 252, 249, 0.425);
    width: 50%;
    border-radius: 50px;
}

.promoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.promoImage {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

.spaceBottom {
    margin-bottom: 50px;
}