.brands {
    color: rgb(208, 238, 234);
    background-color: rgb(15, 15, 15);
    height: 100vh;

}

.words {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;

}