.footer {
  display: flex;
  justify-content: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  background-color: rgba(15, 15, 15, 0);
}

#footer {
  display: flex;
  align-items: left;
}

.socialMedia {
    padding: 5px;
    margin: 5px;
  }

.pixicon {
  height: 30px;
  width: 30px;
}