.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

section {
  display: flex;
}

.socialMedia {
    padding: 5px;
    margin: 5px;
  }