.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  background-color: rgb(15, 15, 15);
}

section {
  display: flex;
}

.socialMedia {
    padding: 5px;
    margin: 5px;
  }