button:hover {
    cursor: pointer;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 42px;
    text-align: center;
}

input {
    height: 40px;
    padding: 5px;
    margin: 5px;
    width: 450px;
}
input::backdrop {
    background-color: rgb(15, 15, 15)
}

label {
    color: rgb(0, 0, 0);
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member {
    color: rgb(240, 240, 240);
    background-color: rgb(15, 15, 15);
    height: 100vh;
}

div.signup {
    padding-bottom: 150px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
    border-style: none;
    border-bottom: 1px white solid;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(15, 15, 15) inset !important;
    -webkit-text-fill-color: rgb(240, 240, 240);
}
