a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a:hover {
    color: rgb(167, 200, 250)
}

.contactCard {                   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12%;
    font-size: 3em;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    padding: 50px;
    width: 45%;
    box-shadow: 0px 0px 48px 0px rgba(202, 252, 249, 0.425);
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#email {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
}

#map {
    padding-top: 30px;
}

.reference {
    display: flex;
    justify-content: center;
}

.space {
    padding: 5px;
    margin: 5px;
}

#telephone {
    color: rgb(0, 0, 0);
    font-size: 42px;
}