h1 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(86, 57, 216);
    text-decoration: none;
}
a:hover {
    color: rgb(147, 130, 223)
}


.contactCard {
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    color: rgb(208, 238, 234);
    background-color: rgb(15, 15, 15);
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.googleReviews {
    font-size: 2em;
    padding: 30px;
}
