.addy {
    font-size: xx-large;
}

.ayto {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.aytobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 100%;
}

.card video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -2;
}

.fsd {
    font-size: 15vh;
    font-family: 'Road Rage', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px white solid;
    color: white;
}

.phoneNumber {
    font-size: xx-large;
    padding-bottom: 30px;
}