.addy {
    font-size: xx-large;
}

.ayto {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.aytobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
    justify-content: center;
}

.fsd {
    font-size: 15vh;
    font-family: 'Road Rage', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px white solid;
    color: white;
}