.nav {
  position: top;
  top: 0;
  margin-top: 15px;
}
  
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.685)
}

.nav-item {
  display: flex;
  font-size: large;
  margin-right: 30px;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.3);
}
